/* whole page */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.button {
    background-color: blue;
    width: 128px;
    height: 40px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

.text-centred {
    text-align: center;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

/* main content & many or all rows */

main{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: column;
    padding: 80px 15%;
    align-items: center;
}

.centred-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 5vw;
}

/* hero row */

.hero {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: flex-start;
    flex: 1 1 40%;
}

.img-placeholder {
    background-color: grey;
    height: 200px;
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* showcase */

.showcase-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.showcase-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex: 1 1 150px;
    align-items: center;
}

.image-description {
    width: 150px;
}

.image {
    height: 150px;
    width: 150px;
    border: 2px solid blue;
}

/* quote */

.quote-author {
    text-align: right;
}

/* call to action */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 100px;
    background-color: lightblue;
}

/* footer */
